header {
    display: flex;
    align-items: center;
    padding-top: 35px;
    max-width: 1200px;
    margin: auto;
}

.menu {
    display: none;
}


#desktop-nav {
    margin-left: 50px;
    height: 85px;
    display: flex;
    justify-content: space-between;
    width: 400px;
    color: var(--Dark-grayish-blue);
    align-items: center;
}

header a {
    padding-bottom: 30px;
    padding-top: 30px;
}

header a:hover {
    border-bottom: 4px solid var(--Orange);
    color: var(--Very-dark-blue);
    cursor: pointer;
}

#cart-div {
    width: 28px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    margin-left: auto;
}

#num {
    height: 13px;
    width: 18px;
    background-color: var(--Orange);
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 15px;
    color:white;
    text-align: center;
}

#num p {
    margin: 0;
    font-size: 10px;
    font-weight: 700;
}

#cart:hover {
    cursor: pointer;
}

#avatar {
    height: 50px;
    margin-right: 2px;
    border: 2px solid white;
}

#avatar:hover {
    border: 2px solid var(--Orange);
    border-radius: 50%;
    cursor: pointer;
}

/*----------- CART -----------*/ 

.my-cart {
    width: 360px;
    height: 260px;
    position: absolute;
    top: 90px;
    right: 170px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 10px 8px var(--Grayish-blue);
}

.my-cart h4 {
    margin: 0;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--Light-grayish-blue);
    font-weight: 700;
}

.my-cart-content {
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Grayish-blue);
}

.my-cart-content span {
    font-weight: 700;
}

.gridImg {
    height: 50px;
    width: 50px;
    grid-area: img;
}

.gridImg img {
    width: 100%;
}

.delete {
    grid-area: delete;
}

.delete:hover {
    cursor: pointer;
}

.checkout {
    grid-area: checkout;
    margin-top: 25px;
    border: 0;
    border-radius: 15px;
    background-color: var(--Orange);
    color: var(--White);
    font-family: inherit;
    font-weight: 700;
    font-size: initial;
    padding-top: 20px;
    padding-bottom: 20px;
}


.cartContent {
    display: grid;
    grid:
    'img . delete'
    'img . delete'
    'checkout checkout checkout';
    align-items: center;
}

.cartContent div {
    margin: 5px;
}


/*FOOTER*/
.attribution { 
    font-size: 11px; text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}